/* colors used:
jet black:(txt) rgba(0, 0, 0, 1.0); #000000
bright pink: rgba(250, 37, 94, 1.0); #fa2558
grey:(bg) rgba(158, 153, 153, 1.0); #c4bebe
light pink: rgba(248, 229, 229, 1.0); #f8e5e5 */
* {
  box-sizing: border-box;
}

body {
  background-color: rgba(158, 153, 153, 1.0);
}

body {
  font-family: 'Lusitana', serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: rgba(0, 0, 0, 1.0);
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 1.4;
  color: rgba(0, 0, 0, 1, 0);
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #f8e5e5;
  text-decoration: none;
}

a:visited {
  color: #fa255e;
}

a:hover {
  color: #fa255e;
  text-decoration: underline;
}

a:active {
  color: #fa255e;
}

a:hover,
a:focus {
  color: #fa255e;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: rgba(248, 229, 229, 1.0);
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
}

.button.contact {
  background-color: transparent;
  color: rgba(248, 229, 229, 1.0);
  text-transform: uppercase;
  border: 2px solid rgba(248, 229, 229, 1.0);
}

.button.contact:hover {
  background-color: rgba(248, 229, 229, 1.0);
  color: #000000;
}

.button.about {
  background-color: rgba(248, 229, 229, 1.0);
  color: #000000;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
}

#hero p {
  text-align: center;
}

.logo {
  max-width: 50px;
}

header {
  background-color: rgba(158, 153, 153, 1.0);
  padding: 10px 0 2px;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 100px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  right: 0;
  top: 2px;
  font-size: 20px;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(248, 229, 229, 1.0);
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fa255e;
}

#hero {
  background-color: rgba(158, 153, 153, 1.0);
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#projects {
  background-color: rgba(158, 153, 153, 1.0);
  padding: 20px;
  display: inline-block;
  width: 100%;
}

#projects h2 {
  text-align: center;
}

#contact {
  text-align: center;
  background-color: rgba(158, 153, 153, 1.0);
  padding: 20px;
  display: block;
}

.socials {
  padding: 20px;
  max-height: 100px;
  max-width: 100px;
}

.socials {
  display: inline-block;
}

#about {
  background-color: rgba(158, 153, 153, 1.0);
  padding: 20px;
  display: inline-block;
  width: 100%;
}

#about h1 {
  text-align: center;
}

.self {
  padding: 20px;
  max-height: 400px;
  max-width: 300px;
}

.self {
  position: static;
}

#about h2 {
  text-align: center;
}

#self-picture {
  text-align: center;
}

#story p {
  text-align: left;
}

#skills h3 {
  text-align: left;
}

#skills li {
  text-align: left;
}

#tools h3 {
  text-align: left;
}

#tools li {
  text-align: left;
}

#melomanie {
  background-color: rgba(158, 153, 153, 1.0);
  padding: 50px;
  display: inline-block;
  width: 100%;
}

#libation_library {
  background-color: rgba(158, 153, 153, 1.0);
  padding: 50px;
  display: inline-block;
  width: 100%;
}

#mindful {
  background-color: rgba(158, 153, 153, 1.0);
  padding: 50px;
  display: inline-block;
  width: 100%;
}

#gentlemens_aesthetic {
  background-color: rgba(158, 153, 153, 1.0);
  padding: 50px;
  display: inline-block;
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 640px) {
  header {
    nav>ul>li {
      display: inline-block;
    }
    .navtoggle li:not(:last-child) {
      display: inline-block;
    }
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
